h1,
h2,
h3,
p,
section,
form,
a,
div,
body {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFAF0;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #5A6A72;
}

input {
    border: 0;
}


.top {
    padding: 22px;
    background-color: #fff;
}

.top-wrap {
    width: 1224px;
    max-width: calc(100% - 60px);
    margin: auto;
}

main {
    width: 1224px;
    margin: auto;
}

.a11y-hidden {
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
margin: -1px;
width: 1px;
height: 1px;
overflow: hidden;
padding: 0;
position: absolute;
}

@media (max-width: 578px) {
    .top-banner {
        position: absolute;
        top: 100px;
        right: 34px;
    }
}