.top-banner {
    float: right;
    margin-top: 28px;
    font-size: 16px;
}

.top-banner span::after {
    content: "";
    margin-left: 24px;
    width: 1px;
    height: 16px;
    background-color: #D8DDDE;
    border: 1px solid #D8DDDE;
}

.top-banner a {
    background: url(./icon-logout.svg) no-repeat 0 center;
    padding-left: 40px;
    margin-left: 25px;
    font-size: 14px;
}

.top-banner strong {
    box-shadow: inset 0 -0.6em rgba(255, 79, 110, 0.5);
    border-bottom: 2px solid #FF4F6E;
    text-align: center;
}

.middle-wrap {
    display: flex;
    gap: 30px;

}

form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 416px;
    gap:16px;
}

form h2 {
    background: url(./heart.png) no-repeat 0 center / 1em;
    padding-left: 28px;
    margin-top: 62px;
    font-size: 16px;
}

form input {
    height: 48px;
    border-bottom: 1px solid #677880;
    border-radius: 4px 4px 0px 0px;
}

form textarea {
    height: 360px;
    border: 1px solid #677880;
    border-radius: 4px;
}

form button {
    background: #29363D;
    text-align: center;
    color: #fff;
    padding: 14px 0;
    border-radius: 4px;
}

.line {
    height: calc(100vh - 120px);
    border: 1px solid #FF4F6E;
}


.boxSet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 79px 0 auto auto;
    /* max-width: 728px; */
}

article {
    margin: auto;
    border: 1px solid #D9D9D9;
    position: relative;
}

.topDot {
    position: absolute;
    top: -16px;
    left: 48px;
}

.bottomDot {
    position: absolute;
    bottom: -16px;
    right: 48px;
}


article h3 {
    padding: 40px 0 0 48px;
    font-size: 16px;
}

article h3 span {
    float: right;
    margin-right: 48px;
    font-size: 12px;
    color: #677880;
}

article p {
    padding: 12px 48px 28px;
    font-size: 14px;
}






