

.top-banner {
    float: right;
    margin-top: 28px;
    font-size: 16px;
}

.top-banner span::after {
    content: "";
    margin-left: 24px;
    width: 1px;
    height: 16px;
    background-color: #D8DDDE;
    border: 1px solid #D8DDDE;
}

.top-banner a {
    background: url(./icon-logout.svg) no-repeat 0 center;
    padding-left: 40px;
    margin-left: 25px;
    font-size: 14px;
}

.top-banner strong {
    box-shadow: inset 0 -0.6em rgba(255, 79, 110, 0.5);
    border-bottom: 2px solid #FF4F6E;
    text-align: center;
}

.middle-wrap {
    display: flex;
    margin: auto;
    gap: 30px;
}

.line {
    width: 2px;
    max-height: calc(100% - 60px);
    border: 1px solid #FF4F6E;
}

.form-wrap {
    display: flex;
    flex-shrink: 0;
    flex-basis: 456px;
    flex-direction: column;
}

.formTitle {
    width: 100%;
    background: url(./heart.png) no-repeat 0 center / 1em;
    padding-left: 28px;
    margin-top: 62px;
    font-size: 16px;
}

.form-wrap input {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #677880;
    border-radius: 4px 4px 0px 0px;
    margin-top: 24px;
}

.form-wrap textarea {
    display: block;
    width: 100%;
    height: 360px;
    resize: none;
    padding: 16px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
    margin-top: 24px;
}

.form-wrap button {
    width: 100%;
    background: #29363D;
    text-align: center;
    color: #fff;
    padding: 14px 0;
    border-radius: 4px;
    margin-top: 24px;
}


.boxSet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 79px 0 auto auto;
}

article {
    margin: auto;
    border-color: #677880;
    border-style: solid;
    border-width: 4px 1px 1px 1px;
    position: relative;
}

.article-title::before {
    content: "";
    display: block;
    width: 100%;
    border-top: 1px solid #677880;
    position: absolute;
    top: 4px;
    left: 0;
    z-index: -1;
}


article::before {
    content: "";
    display: block;
    width: 80px;
    height: 40px;
    background: #fffaf0 url(./topDot.png) no-repeat center center/ contain;
    position: absolute;
    top: -20px;
    left: 30px;

}

article::after {
    content: "";
    background: #fffaf0 url(./bottomDot.png) no-repeat center center/ contain;
    display: block;
    width: 80px;
    height: 40px;
    position: absolute;
    bottom: -16px;
    right: 30px;
}


article h3 {
    padding: 40px 0 0 48px;
    font-size: 16px;
}

article span {
    float: right;
    margin-right: 48px;
    font-size: 12px;
    color: #677880;
}

article p {
    padding: 12px 48px 28px;
    font-size: 14px;
}

@media (max-width: 1024px) {

    main {
        max-width: calc(100% - 60px);
    }

    .line {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        margin: -1px;
        width: 1px;
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
    }

    .middle-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        min-height: auto;
    }


    
}






